<h2>Demos!</h2>
<div class="row">
  <div class="col">
    <ul>
      <li><a routerLink="component-with-data">Component With Data</a></li>
      <li><a routerLink="demo-ngif">*ngIf</a></li>
      <li><a routerLink="demo-ngif-else">*ngIf-else</a></li>
      <li><a routerLink="demo-event-handling">Event Handling</a></li>
      <li><a routerLink="static-data">Static Data Service</a></li>
      <li><a routerLink="passing-data">Passing data from parent to child</a></li>
      <li><a routerLink="custom-event">Passing data from child to parent (Custom events)</a></li>
      <li><a routerLink="iterating-data">Iterating over data</a></li>
      <li><a routerLink="track-by">Iterating over data with a custom track-by</a></li>
      <li><a routerLink="sibling-communication">Sibling Communication</a></li>
      <li><a routerLink="sorting-data">Sorting Data</a></li>
      <li><a routerLink="demo-ngmodel">ngModel example</a></li>
      <li><a routerLink="advanced-filtering">Advanced Filtering</a></li>
    </ul>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
