<div class="card" *ngIf="selectedPayee; else spinner">

  <!-- Use ngClass here to meet the following criteria:
  If categoryId is below 100, use bg-warning and text-success
  If categoryId is 106 or 107, use bg-light and text-dark
  If categoryId is 105, use bg-danger and text-light

  -->
  <div class="card-header">
    {{ selectedPayee.payeeName }}
  </div>
  <ul class="list-group">
    <li class="list-group-item" [class.categoryIncome]="selectedPayee.categoryId < 100">{{ selectedPayee.payeeName }}
    </li>
    <li class="list-group-item">{{ selectedPayee.address?.street }}</li>

    <!-- Use ngStyle here instead of [style.color]-->
    <li class="list-group-item">{{ selectedPayee.address?.city }},
      <span [style.color]="selectedPayee.address?.state === 'NJ' ? 'red' : 'black'">{{ selectedPayee.address?.state }}</span></li>
  </ul>
</div>

<div class="mt-1">
  <button type="button"
          (click)="handlePrevious(selectedPayee)"
          class="btn btn-primary"
          [class.disabled]="this.firstPayee">Previous
  </button>
  &nbsp;
  <button type="button" (click)="handleNext(selectedPayee)" class="btn btn-primary" [class.disabled]="this.lastPayee">
    Next
  </button>
</div>

<ng-template #spinner>
  <h2>Waiting...</h2>
  <img src="../../../assets/spinner.gif"/>
</ng-template>
