<form #peopleForm="ngForm" (ngSubmit)="handleSubmit(peopleForm)">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>First Name:</label>
        <input
          type="text"
          name="firstName"
          class="form-control"
          required
          minlength="3"
          ngModel
          #firstName>
      </div>
      <div class="form-group">
        <label>Last Name:</label>
        <input
          type="text"
          name="lastName"
          class="form-control"
          required
          minlength="3"
          ngModel
          #lastName>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Street Address:</label>
        <input type="text" name="address.street" class="form-control"
               required minlength="5"
               ngModel #address_street="ngModel">
      </div>
      <div class="form-group">
        <label>City:</label>
        <input type="text" name="address.city" class="form-control"
               required minlength="5"
               ngModel #address_city>
      </div>
      <div class="form-group">
        <label>State:</label>
        <input type="text" name="address.state" class="form-control"
               required
               pattern="[A-Z]{2}"
               ngModel #address.state>
      </div>
      <div class="form-group">
        <label>Zip:</label>
        <input type="text" name="address.zip" class="form-control"
               postcodeValidator
               ngModel #address.zip>
      </div>

    </div>
  </div>
</form>
