<table class="table" *ngIf="categories">
  <thead>
  <tr class="clickable">
    <th (click)="sortCategories('id')">Category ID</th>
    <th (click)="sortCategories('categoryName')">Category Name</th>
    <th (click)="sortCategories('categoryType')">Category Type</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td>
      <input type="text" class="form-control" name="id" (keyup)="updateFilter($event)">
    </td>
    <td>
      <input type="text" class="form-control" name="categoryName" (keyup)="updateFilter($event)">
    </td>
    <td>
      <input type="text" class="form-control" name="categoryType" (keyup)="updateFilter($event)">
    </td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of displayCategories"
      (click)="handleClick(category)"
      class="clickable">
    <td>{{ category.id }}</td>
    <td>{{ category.categoryName }}</td>
    <td>{{ category.categoryType }}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="handleEdit(category)">Edit</button> &nbsp;
      <button type="button" class="btn btn-primary" (click)="handleNavigate(category)">/detail/{{ category.id }}</button>
    </td>
  </tr>
  </tbody>
</table>
