<!--<table class="table" *ngIf="people?.length > 0; else noneFound">-->
<div [ngSwitch]="people && people?.length">
  <section class="card" *ngSwitchCase="0">
    <div class="card-header bg-danger text-center text-white">
      <h2>No records found</h2></div>
  </section>

  <div *ngSwitchCase="undefined" class="fas fa-cog fa-3x fa-spin"></div>
  <table class="table" *ngSwitchDefault>
    <thead>
    <tr class="clickable">
      <th (click)="handleHeaderClick('firstName')" [ngClass]="getSortIndicator('firstName')">Name</th>
      <th (click)="handleHeaderClick('lastName')" [ngClass]="getSortIndicator('lastName')">Name</th>
      <th (click)="handleHeaderClick('address.city')" [ngClass]="getSortIndicator('address.city')">City</th>
      <th (click)="handleHeaderClick('address.state')" [ngClass]="getSortIndicator('address.state')">State</th>
    </tr>
    </thead>
    <tbody>
    <tr (click)="handleClick(person)"
        *ngFor="let person of people; index as i"
        [ngClass]="{'table-info': i % 2 === 0, 'table-warning': i % 2 !== 0}">

      <td class="clickable">{{ person.firstName }}</td>
      <td class="clickable">{{ person.lastName }}</td>

      <td>{{ person.address?.city }}</td>
      <td>{{ person.address?.state }}</td>
    </tr>
    </tbody>
  </table>

</div>
