<ul class="list-inline">
  <li class="list-inline-item"><span routerLinkActive="badge-danger"
                                     class="badge badge-pill"><a routerLinkActive="text-white"
                                                                 routerLink="list">List</a></span></li>
  <li class="list-inline-item"><span routerLinkActive="badge-danger"
                                     class="badge badge-pill"><a routerLinkActive="text-white" routerLink="search">Search</a></span>
  </li>
  <li class="list-inline-item"><span routerLinkActive="badge-danger"
                                     class="badge badge-pill"><a routerLinkActive="text-white" [routerLink]="['add']">Add</a></span>
  </li>
</ul>

<ul class="list-inline">
  <li class="list-inline-item">
    <span class="badge badge-pill">
      <!-- [{ outlets: { name_of_outlet: ['path to load for outlet'] }}] -->
      <a [routerLink]="[{outlets: {footerOutlet: ['footer']}}]">Show footer</a>
    </span>
  </li>
</ul>

<div class="row">
  <div class="col">
    <!-- The main router outlet -->
    <router-outlet></router-outlet>
  </div>
</div>

<div class="row">
  <div class="col">
    <router-outlet name="footerOutlet"></router-outlet>
  </div>
</div>

