<payee-detail
  [payee]="selectedPayee"
  (onNextPayee)="handleNext($event)"
  (onPreviousPayee)="handlePrevious($event)"
  (goBack)="handleBack()"
  *ngIf="currentView === PayeesViews.DETAIL"></payee-detail>

<!--
Add an event handler for sortPayees here, firing the handleSortPayees function,
passing it the $event. Update the data binding to use displayPayees instead
of payees.

Return to payees-manager.component.ts
-->

<div class="form-group">
  <label for="payee-name">Filter by Payee Name:</label>
  <input
    type="text"
    [(ngModel)]="filterPayeeName"
    (ngModelChange)="handleFilterPayees()"
    name="filterPayeeName"
    id="payee-name"
    class="form-control">
</div>
<payees-list [payees]="displayPayees"
             (selectPayee)="handleSelectPayee($event)"
             (sortPayees)="handleSortPayees($event)"
             *ngIf="currentView === PayeesViews.LIST"></payees-list>
<ng-template #spinner *ngIf="PayeesViews.WAITING">
  <h2>Waiting...</h2>
  <img src="../../../assets/spinner.gif"/>
</ng-template>
