<payee-detail
  [payee]="selectedPayee"
  (onNextPayee)="handleNext($event)"
  (onPreviousPayee)="handlePrevious($event)"
  (goBack)="handleBack()"
  *ngIf="currentView === PayeesViews.DETAIL"></payee-detail>

<!-- Add an event handler for the updateFilter custom event.
     Assign it handleUpdateFilter, passing along $event
     You should be able to test your code now.
-->
<payees-list [payees]="displayPayees"
             (selectPayee)="handleSelectPayee($event)"
             (sortPayees)="handleSortPayees($event)"
             (updateFilter)="handleUpdateFilter($event)"
             *ngIf="currentView === PayeesViews.LIST"></payees-list>
<ng-template #spinner *ngIf="PayeesViews.WAITING">
  <h2>Waiting...</h2>
  <img src="../../../assets/spinner.gif"/>
</ng-template>
